<footer class="site-footer h-card">
    <data class="u-url" href="/"></data>
    <div class="wrapper">
      <!-- <h2 class="footer-heading">Raine Legary</h2> -->
      <div class="footer-col-wrapper">
  
        <div class="footer-col footer-col-1">
          <ul class="contact-list">
            <li class="p-name">Raine Legary</li>
            <li><a class="u-email" href="mailto:raine.legary@gmail.com">raine.legary@gmail.com</a></li>
          </ul>
        </div>
  
        <div class="footer-col footer-col-2">
          <ul class="social-media-list">
            <li><a href="https://github.com/rainelegary"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#github"></use></svg><span class="username">rainelegary</span></a></li>
            <li><a href="https://www.instagram.com/rainethhh/"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#instagram"></use></svg><span class="username">rainethhh</span></a></li>
          </ul>
        </div>
  
        <div class="footer-col footer-col-3">
          <p>{{ site.description }}</p>
        </div>
      
      </div>
  
    </div>
  
  </footer>